
<div class="Form-Login">
    <form class="login" action="~/Home/Index" method="post">
        <label>Usuario</label><br />
        <input type="text" name="Usuario" /><br />
        <label>Contraseña</label><br />
        <input type="password" name="Contraseña" /><br/>
        <input type="submit" />
    </form>
</div>